.cows-main {
    h1 {
        color: black;
        padding-block: 0.4rem;
    }

    .jersey-cows {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
        margin-inline: auto;
        padding-bottom: 2rem;

        img {
            width: 100%;
            max-height: 250px; 
            object-fit: cover;

            @media (min-width: 480px) {
                max-height: 300px;
            }

            @media (min-width: 680px) {
                max-height: 350px;
            }
        }
    
        p {
            margin: 0;
        }

        @media (min-width: 680px) {
            display: grid;
            grid-template-columns: 1fr 1fr; 
            gap: 2.5em;
        }
    
        @media (min-width: 1024px) {
            gap: 3em;
        }
    }

    .jersey-benefits {

        
    }
}