footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;

    section {
        margin-inline: 1em;

        ul {
            padding: 0;   

            li {
                padding-top: 0.1em;

                h3 {
                    margin-block: 0.4em;
                    font-weight: 600;
                }

                a {
                    text-decoration: underline;
                    font-weight: 400;
                }
            }
        }

        @media (min-width: 480px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            column-gap: 1.5em;
        }

        @media (min-width: 768px) {
            width: 80%;
        }    
    }

    p {
        margin-inline: auto;
        font-size: 0.8rem;
        font-weight: 400;
    }

    @media (min-width: 480px) {
        align-items: center;
    }
}
