@import 'stylesheet.css';
@import 'header.css';
@import 'about-us.css';
@import 'foot.css';
@import 'products.css';
@import 'mellerstore.css';
@import 'internship.css';

body {
    font-family: var(--font-family);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

main {
    margin-inline: 1em;

    @media (min-width: 480px) {
        margin-inline: 1.5em;
    }

    @media (min-width: 680px) {
        margin-inline: 2em;
    }

    @media (min-width: 1024px) {
        margin-inline: 12.5%;
    }

    @media (min-width: 1720px) {
        margin-inline: 20%;
    }
}
