<section class="about-us">
    <h2>About us</h2>
    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Praesent non volutpat tellus. Praesent non mattis quam. Morbi a enim massa. 
        Nunc vel euismod enim, eget dignissim urna. Praesent nec odio ac purus rutrum laoreet at et est. 
        Nunc id metus purus. Sed ultricies auctor ex non condimentum. Integer finibus ac felis rutrum</p>
</section>