    <footer>
        <section>
        <ul>
            <li><h3>Contact</h3></li>
            <li>Address: Meller Storevej 9</li>
            <li>Agersted, 9330 Dronninglund</li>
            <li>E-mail: <a href="mailto:info@stensgaard-farming.dk">info@stensgaard-farming.dk</a></li>
            <li>Telephone: <a href="tel:+4512345678">+45 12 34 56 78</a></li>
        </ul>
        <ul>
            <li><h3>Directly to</h3></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/mellerstore-seeds">Mellerstore Seeds</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <ul>
            <li><h3>Follow us</h3></li>
            <li><a href="https://www.facebook.com/stensgaardfarming">Facebook</a></li>
            <li><a href="https://www.instagram.com/stensgaardfarming">Instagram</a></li>
            <li><a href="https://www.linkedin.com/company/stensgaard-farming">LinkedIn</a></li>
        </ul>
        </section>
        <p>Copyright © 2025 | Stensgaard farming</p>
    </footer>   
    </body>
</html>