<header>
    <a href="/"><img src="/img/logo.png" alt="Stensgaard Farming" width="100" height="100"></a>

    <button>
        <span></span>
        <span></span>
        <span></span>
    </button>

    <nav>
        <ul class="navigation-links">
            <li><a href="/about">About us</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/mellerstore">Mellerstore</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    
        <ul class="language-switcher">
            <li>
                <a href="/danish">
                    <img src="/img/danish-flag.png" alt="Danish Flag">
                </a>
            </li>
            <li>
                <a href="/english">
                    <img src="/img/english-flag.png" alt="UK Flag">
                </a>
            </li>
            <li>
                <a href="/dutch">
                    <img src="/img/dutch-flag.png" alt="Dutch Flag">
                </a>
            </li>
        </ul>
    </nav>
</header>