header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: var(--primary-color);
    gap: 1.2em;

    a {
        height: 100%;
    
        img {
            width: 100px;
            height: 100px;
        }
    }

    button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 8px;
        background: none;
        border: none;
        padding-right: 2.3em;

        span {
            background-color: white;
            width: 30px;
            height: 4px;
        }

        @media (min-width: 800px) {
            display: none;
        }
    }

    nav {
        display: none;
        padding-right: 2em;
        justify-content: space-between;
        gap: 2em;
        flex-grow: 1;
        
        ul {
            display: flex;
            align-items: center;
            list-style-type: none;
        }

        .navigation-links {
            justify-content: space-between;
            flex-grow: 1;

            @media (min-width: 1100px) {
                padding-inline: 5em;
            }

            @media (min-width: 1300px) {
                padding-inline: 6.5em;
            }
        }

        .language-switcher {
            gap: 1em;
            justify-content: center;
        
            img {
                width: 20px;
                height: 20px;
                vertical-align: middle;
                border-radius: 50%;
            }
        }

        @media (min-width:800px) {
            display: flex;
        }
    }

    @media (min-width:800px) {
        align-items: center;
    }
}