@import '/stylesheet.css';
@import '/header.css';
@import '/startscreen.css';
@import '/about-us.css';
@import '/foot.css';

body {
    font-family: var(--font-family);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

main {
    margin-inline: 1em;
}
