@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins-SemiBold.ttf') format('truetype');
}

:root {
    /* colors */
    --background-color: #f0f0f0;
    --primary-color: #275717; 
    --secondary-color: #bc0202; 
    --text-color: #000000; 

    /* fonts */
    --font-size: 16px;
    --font-family: 'Poppins', sans-serif; 

    /* headings */  
    --heading-color: #ffffff;
    --heading-font-size: clamp(2.1rem, 2vw + 1rem, 7rem);
    --heading-line-height: 1.2;
}

h1 {
    font-size: var(--heading-font-size);
    line-height: var(--heading-line-height);
    color: var(--heading-color);
}

h2 {
    font-size: calc(var(--heading-font-size) * 0.8);
    line-height: var(--heading-line-height);
}

h3 {
    font-size: calc(var(--heading-font-size) * 0.7);
    line-height: var(--heading-line-height);
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

ul {
    list-style: none; 
}